APP_NAME=Incident Management System
DEBUG=false
SECRET_KEY=change-this-in-production-use-openssl-rand-hex-32

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=ims_user
POSTGRES_PASSWORD=ims_password
POSTGRES_DB=ims_db

MONGO_URI=mongodb://mongo:27017
MONGO_DB=ims_signals

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

QUEUE_MAX_SIZE=50000
DEBOUNCE_WINDOW_SECS=10
DEBOUNCE_THRESHOLD=100

RATE_LIMIT_SIGNALS=10000/minute
CORS_ORIGINS=["http://localhost:3000","http://localhost:5173"]
